<ion-menu side="start" contentId="meu-conteudo-top">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/calendar">Calendário</ion-item>
      <ion-item routerLink="/tabs/people">Pessoas</ion-item>
      <ion-item routerLink="/tabs/config">Config</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

  <ion-content>
    <ion-router-outlet id="meu-conteudo-top"></ion-router-outlet>
  </ion-content>

  