<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Meu primeiro app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img src="http://images.pexels.com/photos/1386649/pexels-photo-1386649.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
      alt="">
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto" size-md="12">
            <ion-avatar class="ion-margin-end">
              <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="Imagem do usuário @maria">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-title>Maria</ion-card-title>
            <ion-card-subtitle>Motorista há 4 anos</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quidem, ducimus reiciendis non adipisci natus
      ipsa esse optio odio tempore obcaecati similique veniam exercitationem minima alias, nulla ullam eum fuga!
    </ion-card-content>
  </ion-card>


  <h1>
    <ion-icon name="globe"></ion-icon> Olá mundo!

    <ion-badge color="danger">
      <ion-icon name="globe"></ion-icon> Novo!
    </ion-badge>
  </h1>
  <h2>
    <ion-icon name="planet"></ion-icon> Adeus Terra
  </h2>
  <ion-text color="medium">
    <p>Lorem ipsum <em>dolor</em>, sit amet consectetur adipisicing elit. Exercitationem doloremque harum
      sequi a iste, tenetur
      minus <strong>possimus</strong> dolorum dolor facilis aliquid odio veniam quas consectetur repudiandae suscipit
      voluptatibus <ion-icon name="planet"></ion-icon>
      molestiae esse.</p>
  </ion-text>

  <ion-item>
    <ion-label position="floating">Default Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
