<ion-header>
  <ion-toolbar color="success">
    <ion-title>
     Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-button expand="full" fill="outline" color="success">Entrar com CPF</ion-button>
      <br>      
      <ion-button expand="full" color="primary">Entrar com Facebook</ion-button>
      <br>      
      <ion-button expand="full" color="light">Entrar com Google</ion-button>
      <br>
      <ion-col color="light">___________ ou ___________</ion-col>
      <br>
      <br>
      <ion-button expand="full" fill="outline" color="success">Criar conta</ion-button>
    </ion-col>
  </ion-row>

</ion-content>